
        
        body {
            font-family: Arial, sans-serif;
        }
        body a img {
            height: 50px; 
            margin-right: 20px;
          }

        p , h1 {
            margin-bottom: 20px;
            color: #7dd3e2;
            text-align: center;
          }

        form {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #7dd3e2;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="password"], input[type="email"] {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #7dd3e2;
            border-radius: 5px;
            color: #7dd3e2;
            text-align: center;
        }
        
        button {
            padding: 10px 20px;
            margin-right: 10px;
            cursor: pointer;
        }
        button[type="submit"] {
            background-color: #7dd3e2;
            color: white;
            border: none;
            border-radius: 4px;
        }
        button[type="reset"], button[type="button"] {
            padding: 10px 20px;
            background-color: #7dd3e2;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #27ca58;
          }